In [1]:
%load_ext sql
%sql sqlite://

In [2]:
%%sql
Create Table Customers 
(
    ID   integer,
    Name varchar(6)
);

INSERT INTO Customers
VALUES (1,'Joe'),
        (2,'Henry'),
        (3,'Sam'),
        (4,'Max');
        
Create Table Orders 
(
    ID   integer,
    CustomerID integer
);

INSERT INTO Orders
VALUES (1,3),
        (2,1);

 * sqlite://
Done.
4 rows affected.
Done.
2 rows affected.

[]

In [3]:
%%sql 
SELECT * FROM Customers

 * sqlite://
Done.

[(1, 'Joe'), (2, 'Henry'), (3, 'Sam'), (4, 'Max')]

In [4]:
%%sql 
SELECT * FROM Orders

 * sqlite://
Done.

[(1, 3), (2, 1)]

In [29]:
%%sql 
DELETE Name 
FROM Customers
JOIN Orders 
ON Customers.ID = Orders.CustomerID

 * sqlite://
(sqlite3.OperationalError) near "Name": syntax error
[SQL: DELETE Name FROM Customers
JOIN Orders
ON Customers.ID = Orders.CustomerID]
(Background on this error at: http://sqlalche.me/e/13/e3q8)