## WallStreetBets (r/wallstreetbets, also known as WSB), is a subreddit where participants discuss stock and option trading. Find the most common words used in the title.

In [1]:
import numpy as np # linear algebra
import pandas as pd
from collections import Counter

In [2]:
df = pd.read_csv('reddit_wsb.csv')
df.head()

,title,score,id,url,comms_num,created,body,timestamp
0,"It's not about the money, it's about sending a...",55,l6ulcx,https://v.redd.it/6j75regs72e61,6,1.611863e+09,NaN,2021-01-28 21:37:41
1,Math Professor Scott Steiner says the numbers ...,110,l6uibd,https://v.redd.it/ah50lyny62e61,23,1.611862e+09,NaN,2021-01-28 21:32:10
2,Exit the system,0,l6uhhn,https://www.reddit.com/r/wallstreetbets/commen...,47,1.611862e+09,The CEO of NASDAQ pushed to halt trading “to g...,2021-01-28 21:30:35
3,NEW SEC FILING FOR GME! CAN SOMEONE LESS RETAR...,29,l6ugk6,https://sec.report/Document/0001193125-21-019848/,74,1.611862e+09,NaN,2021-01-28 21:28:57
4,"Not to distract from GME, just thought our AMC...",71,l6ufgy,https://i.redd.it/4h2sukb662e61.jpg,156,1.611862e+09,NaN,2021-01-28 21:26:56

In [3]:
titles = df['title'].apply(lambda x:str(x).split()) #split string
top = Counter([title for sublist in titles for title in sublist])
pd.DataFrame(top.most_common(20),columns = ['words','count'])

        words  count
0         the   7924
1          to   6996
2         and   4328
3           I   4324
4          is   3653
5         GME   3442
6           a   3424
7          of   3027
8          on   2844
9          in   2416
10        for   2376
11        THE   2154
12        you   2091
13       this   2089
14         my   1720
15        are   1621
16  Robinhood   1566
17        AMC   1435
18       HOLD   1387
19        buy   1386