# Second highest salary

Filter for the second highest salary in a dataset

In [1]:
import pandas as pd
def getSecondHighest(employeeData): 
    val = employeeData['Salary'].nlargest()[1] #get second highest salary 
    return employeeData[employeeData['Salary'] == val].reset_index(drop=True) #return the corresponding values.

In [2]:
d = {'employeeID': [1, 2,3], 'Salary': [100,200,300]}
data = pd.DataFrame(d)
data

   employeeID  Salary
0           1     100
1           2     200
2           3     300

In [3]:
getSecondHighest(data)

   employeeID  Salary
0           2     200