## There is a table courses with columns: student and class

Please list out all classes which have more than or equal to 5 students.

In [1]:
%load_ext sql
%sql sqlite://

In [2]:
%%sql
Create Table Courses 
(
    Student    varchar(6),
    Class      varchar(6)
);

INSERT INTO Courses
VALUES ('A','Math'),
       ('B','English'),
       ('C','Math'),
       ('D','Biology'),
       ('E','Math'),
       ('F','Computer'),        
       ('G','Math'),        
       ('H','Math'),          
       ('I','Math');

 * sqlite://
Done.
9 rows affected.

[]

In [3]:
%%sql
SELECT * FROM Courses #display original table

 * sqlite://
Done.

[('A', 'Math'),
 ('B', 'English'),
 ('C', 'Math'),
 ('D', 'Biology'),
 ('E', 'Math'),
 ('F', 'Computer'),
 ('G', 'Math'),
 ('H', 'Math'),
 ('I', 'Math')]

In [4]:
%%sql
SELECT Class #return classes
FROM Courses
GROUP BY Class #grouup by class
HAVING count(Class) >= 5; #use HAVING on aggregate functions

 * sqlite://
Done.

[('Math',)]