## Python Program for 0-1 Knapsack Problem

Constrained optimization problem. You're bringing a bag full of valuable items to sell but you're bag has a maximum weight capacity of W. Given weights and price tags of every item, which items should be placed in the mag to maximize profit.

In [1]:
my_dict = {} #dictionary to store redundant work. 
my_calls = 0 #count number of calls. 
def knapSack(max_Weight, weight_list, value_list, currItem): 
    global my_dict 
    global my_calls
    my_calls += 1
    if currItem == 0 or max_Weight == 0 : #end of the recursion. 
        return 0
    if (weight_list[currItem-1] > max_Weight): #if we can't add the item, then don't. end of this branch. 
        return knapSack(max_Weight, weight_list, value_list, currItem-1) 
    else: 
        weight_with = max_Weight - weight_list[currItem-1] #weight with item included. 
        currItem_with = currItem-1 #next n. 
        val_with = value_list[currItem-1] #value without item included. 
        
        weight_without = max_Weight #weight withoout item included. 
        currItem_without = currItem-1
        val_without = 0 #added value withouut item included. 
       
        with_Case = str(str(weight_with)+'_'+str(currItem_with)+'_'+str(val_with)) #string for index of dictionary
        without_Case = str(str(weight_without)+'_'+str(currItem_without)+'_'+str(val_without))
        
        if with_Case in my_dict.keys(): #store in dictionary for easy lookup
            caseA = my_dict[with_Case] 
        else: 
            caseA = val_with + knapSack(weight_with, weight_list, value_list, currItem_with)            
            
        if without_Case in my_dict.keys():
            caseB = my_dict[without_Case]
        else: 
            caseB = val_without + knapSack(weight_without, weight_list, value_list, currItem_without)
            
        my_dict[with_Case] = caseA
        my_dict[without_Case] = caseB   
        return max(caseA,caseB)  
    
value_list = [60, 100, 120,200,130,120] 
weight_list = [10, 20, 30,10,30,20] 
max_Weight = 50
currItem = len(value_list) 

print (knapSack(max_Weight, weight_list, value_list, currItem))
print(my_calls)

420
42

In [2]:
my_calls = 0
def knapSack(W, wt, val, n): 
    global my_calls
    my_calls += 1
    # Base Case 
    if n == 0 or W == 0 : 
        return 0
  
    # If weight of the nth item is more than Knapsack of capacity 
    # W, then this item cannot be included in the optimal solution 
    if (wt[n-1] > W): 
        return knapSack(W, wt, val, n-1) 
  
    # return the maximum of two cases: 
    # (1) nth item included 
    # (2) not included 
    else: 
        return max(val[n-1] + knapSack(W-wt[n-1], wt, val, n-1), 
                   knapSack(W, wt, val, n-1)) 
  

val = [60, 100, 120,200,130,120] 
wt = [10, 20, 30,10,30,20] 
W = 50
n = len(val) 

print (knapSack(W, wt, val, n))
print(my_calls)

420
58

In [3]:
my_dict = {}
num_calls = 0
def fib(n):
    global num_calls
    global my_dict
    num_calls += 1
    if n == 0: 
        return 0
    if n == 1: 
        return 1
    
    if n not in my_dict.keys(): 
        my_dict[n] = fib(n-1) + fib(n-2)
        
    return my_dict[n]
    
print(fib(20))  
print(num_calls)

6765
39

In [4]:
my_dict = {}
num_calls = 0
def fib_slow(n):
    global num_calls
    num_calls += 1
    if n == 0: 
        return 0
    if n == 1: 
        return 1
    return fib_slow(n-1) + fib_slow(n-2)
    
print(fib_slow(20))  
print(num_calls)

6765
21891

In [5]:
import pandas as pd
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [6]:
df.groupby(['Animal'],dropna = False).mean()

        Max Speed
Animal
Falcon      375.0
Parrot       25.0