## Delete duplicate emails from a table of emails in SQL. Keep the one with the lower ID.

In [1]:
%load_ext sql
%sql sqlite://

In [2]:
%%sql
CREATE TABLE Emails --#Create the table of employees
(
    ID        integer,
    Email      varchar(6)

);
INSERT INTO Emails
VALUES (1, 'john@example.com'),
       (2, 'bob@example.com'),
       (3, 'john@example.com');

 * sqlite://
Done.
3 rows affected.

[]

In [3]:
%%sql
select * from Emails; --#display example of employees.

 * sqlite://
Done.

[(1, 'john@example.com'), (2, 'bob@example.com'), (3, 'john@example.com')]

In [4]:
%%sql 
SELECT p1.* --#Use alias to refer to the Email table twice
FROM Emails p1,
    Emails p2
WHERE
    (p1.Email != p2.Email AND p1.Id <= p2.Id) --#Condition to keep proper emails.

 * sqlite://
Done.

[(1, 'john@example.com'), (2, 'bob@example.com')]