## Discretize a list of inputs into appropriately-sized buckets

In [1]:
import pandas as pd
def discretize(nums,num_bins): 
    df = pd.DataFrame({'nums': nums}) #create pandas dataframe of dataa. 
    df['grouping'] = pd.cut(df['nums'], bins = num_bins) #use the cut function to discretize. 
    return df

In [2]:
nums = [14, 33, 40, 32, 13, 15, 82, 99, 2, 15]
num_bins = 3
discretize(nums,num_bins)

   nums          grouping
0    14   (1.903, 34.333]
1    33   (1.903, 34.333]
2    40  (34.333, 66.667]
3    32   (1.903, 34.333]
4    13   (1.903, 34.333]
5    15   (1.903, 34.333]
6    82    (66.667, 99.0]
7    99    (66.667, 99.0]
8     2   (1.903, 34.333]
9    15   (1.903, 34.333]